/*@font-face {
  font-family: "Weblogma_Yekan";
  src: url('fonts/Weblogma_Yekan.eot?1444813111');
  src: url('fonts/Weblogma_Yekan.eot?&1444813111#iefix') format('embedded-opentype'), url('fonts/Weblogma_Yekan.ttf?1444813111') format('truetype'), url('fonts/Weblogma_Yekan.woff?1444813111') format('woff');
  font-weight: "Weblogma_Yekan.svg"; }*/

  @font-face {
  font-family: "Yekan";
  src: url('fonts/Yekan.eot?1444813111');
  src: url('fonts/Yekan.eot?&1444813111#iefix') format('embedded-opentype'), url('fonts/Yekan.ttf?1444813111') format('truetype'), url('fonts/Yekan.woff?1444813111') format('woff');
  font-weight: normal; }

/*------ colors -----------*/
/* base style */
/* line 2, sass/rtl/base/_base.scss */
body {
  font-family: "Yekan" !important;
  direction: rtl;
  font-size: 130%;
  line-height: 180%;
   }
  /* line 7, sass/rtl/base/_base.scss */
 

 /*----------------menu--------------------------------*/
 .nav-menu .mega-menu-item .item-title i {
    padding-right : 1px;
    padding-left: 10px;
  }
  #side-area nav.mega-menu ul.nav-menu{
    text-align: right;
  }
  #side-area > div.side_area_title{
    text-align: center;
  }
  .header-col-left{
    float : right !important;
  }

@media only screen and (min-width:1100px) {
    .header-col-left {
        float: none !important;
        width: 100%;
        text-align: center;
    }
    #header-container.logo-position-left:not(.small) .header-col-left{
        width:100%;
    }
    #header-container #header .header-wrap > .row:last-child .header-main-panel .logo-for-panel a {
        text-align: center;
    }
    .side-area-controller-wrap{
        display: none;
    }

}
@media only screen and (min-width: 1100px) {
    #header-container.logo-position-left:not(.small) #header .header-wrap > .row:last-child .header-main-panel .logo-for-panel .inline-block img {
        position: relative !important;
    }
    nav.mega-menu {
       text-align: right !important;
    }
}
  .header-col-right{
    float :left !important;
  }
#header-container.logo-position-left:not(.small) .header-col-fluid {
    margin-left: 220px;
    margin-right: 0px;
    margin-top: 40px;
}

#header-container #header .header-wrap > .row:last-child .header-main-panel .header-col-fluid .fixed-header-logo {
    
    right: 10px;
    left : auto;
}
#header-container #header .header-wrap > .row:last-child .header-main-panel .header-col-right .header-icons-wrapper > * {
    float: left;
}
  /*---------------footer--------------------------*/
  .widget_dfd_vcard_simple,
  #footer .widget_dfd_vcard_simple{
    text-align: right;
  }